table {
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    border: 11px solid #fff;
    margin: 0 auto;
    margin-top: 100px;
}

th {
    border: 10px solid black;
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}